html {
    background-color: rgb(245, 245, 245);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* <!--------------------- NAV-BAR CSS  ---------------------> */


.header-container {
    font-family: 'Poppins', sans-serif;
}

.header-top {
    padding-top: 3px;
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
}

.header-top>div {
    flex-basis: 33%;
}

/* -------------------- Top-NAV LEFT-part -------------------- */

.header-top>.top-left>.top-left-items {
    display: flex;
    padding: 0px 10px;
}

.header-top>.top-left>.top-left-items>li {
    list-style: none;
    padding: 7px;
    font-size: 11px;
    font-weight: bold;
    color: rgb(170, 170, 170);
    letter-spacing: 1px;
}

.header-top>.top-left>.top-left-items>li:hover {
    color: gray;
    cursor: pointer;
}

/* -------------------- TOP-NAV MIDDLE -------------------- */

.header-top>.top-middle {
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #444444;
}

/* -------------------- TOP-NAV RIGHT-part -------------------- */

.top-right,
.top-right>div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}

.top-right>.items>img {
    width: 23px;
}

.top-right>.items>a {
    color: #7d7d7d;
    text-decoration: none;
    font-size: 13px;
}

.top-right>.items>a:hover {
    text-decoration: underline;
}

/* -------------------- BOTTOM NAV  -------------------- */

.header-bottom {
    position: relative;
    display: flex;
    height: 90px;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #ebebeb;
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

/* HamBurger  */

.res-bar {
    display: none;
}

/* -------------------- BOTTOM Mid-part -------------------- */

.header-bottom>.bottom-middle>ul {
    display: flex;
}

.header-bottom>.bottom-middle>ul>li {
    list-style: none;
    padding: 0px 13px;
}

.header-bottom>.bottom-middle>ul>li>a {
    color: black;
    font-size: 18px;
    text-decoration: none;
    padding: 30px 20px;
}

.header-bottom>.bottom-middle>ul>li>a:hover {
    border-bottom: 3px solid #00a9e0;
}

/* -------------------- BOTTOM Left-part -------------------- */

.header-bottom>.bottom-left>a>img {
    padding-top: 10px;
    width: 140px;
}


.width170px {
    width: 170px;

}

.navbar {
    text-align: center;
    color: #00a8e2;
    font-weight: bold;
}



















#container {
    width: 60%;
    margin: auto;
    margin-top: 30px
}

#container h2 {
    font-size: 24px;
    margin-left: 20px;
    color: #444;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#container p {
    color: #444;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif
}

.login-p {
    color: #444;
    /* display: block; */
    margin-left: 180px;
    font-family: Arial, Helvetica, sans-serif
}

#create-account {
    margin: 20px 0px 3% 32%;
    height: 40px;
    width: 29%;
    background-color: #ffffff;
    color: black;
    font-size: 16px;
    border: solid black 1px;
    border-radius: 5px;
}

.input {
    height: 40px;
    width: 40%;
    margin: 30px 0px 30px 20px;
    padding: 5px;
    font-size: 17px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: none;
}

#submit {
    margin: 20px 0px 3% 32%;
    height: 40px;
    width: 29%;
    background-color: #00a8e2;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

#submit:hover {
    cursor: pointer;
}

#admin {
    margin-top: 150px;
    margin-left: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}